//Colors
$color-light: #fff;
$color-black: #000;
$color-primary: #ed2025;
$color-secondary: #262626;

//Fonts
$font-nunito: 'Nunito', sans-serif;

//General styles
* {
    margin: 0;
    padding: 0;
}

html {
    scrollbar-width: none;
}

body {
    &-webkit-scrollbar {
        display: none;
    }
    background-color: $color-light;
}

@mixin flexLayout() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin headerFlex() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}