@use 'base' as *;

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    @include flexLayoutSpacedBetween();
    padding: 20px 10%;

    .logo {
        img {
            max-width: 70px;
            height: auto;
        }
    }
}

.main__home {
    padding: 5% 10%;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 206, 206);
    background-image: url(); //placeholder image
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;

    .main__text {
        h1 {
            @include textColorAndSize($color-black, 65px);
            text-transform: capitalize;
            line-height: 1.1;
            font-weight: 600;
            margin: 6px 0 10px;
        }
        p {
            @include textColorAndSize($color-black, 20px);
            font-style: italic;
            margin-bottom: 20px;
        }
    }

    .down__arrow {
        position: absolute;
        top: 85%;
        right: 11%;
        i {
            @include textColorAndSize($color-black, 30px);
            border: 2px solid $color-black;
            border-radius: 50px;
            padding: 12px;

            &:hover {
                background-color: $color-black;
                color: $color-primary;
                transition: all .4 ease;
            }
        }
    }
}